*:root {
    --main-color: #95dbe5ff;
    --secondary-color: #078282ff;
    --third-color: #339e66ff;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    
}

/* Header Style Starts*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    flex-wrap: wrap;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--third-color);
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav ul {
    display: flex;
    justify-content: space-between;  
    list-style: none;   
}

header nav ul li a {
    padding: 15px 25px;
    font-size: 1.5rem;   
}

header nav ul li a:hover {
    font-weight: bold;
    font-size: 1.8rem;
}


/* Hero Section Style Starts*/
.hero {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 75% 75% 75% 75% / 20%;
    height: 500px;
}

.hero-content {
    text-align: center;
    padding-top: 95px;
    font-size: 20px;
}

.hero h1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

.hero h3 {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

/* Button Styles */
button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
    color:black;
    font-weight: bold;
	background:var(--secondary-color);
    margin-bottom: 50px;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.5s;	
}

button:hover{
	opacity: 0.7;
}

/* About Me Section Style Starts*/
.about-me {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 35px;
}

.about-me-image {
    width: 35%;

}

.about-me-content {
    width: 45%;
    padding: 15px;
    font-size: 22px;
    color: var(--third-color);
}

.about-me img {
    height: 450px;
    width: 300px;
    padding: 15px 15px 15px 15px;
}

/* Grid Layout Style Starts*/
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(12,1fr); 
    grid-gap: 10px;
    padding: 55px 0 0 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-1 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.item-2 {
    grid-column: 1/6;
    grid-row: 2/11;
}

.item-3 {
    grid-column: 3/4;
    grid-row: 10;
}


.item-5 {
    grid-column: 6/11;
    grid-row: 1/2;
}

.item-6 {
    grid-column: 6/11;
    grid-row: 2/7;
}

.item-7 {
    grid-column: 8/9;
    grid-row: 6;
}


.item-9 {
    grid-column: 6/11;
    grid-row: 7/8;
}

.item-10 {
    grid-column: 6/11;
    grid-row: 8/13;
}

.item-11 {
    grid-column: 8/9;
    grid-row: 12;
}
/* Grid Layout Style Ends*/

/* Project Section Style Starts*/
.project {
    background: var(--main-color);
    border-radius: 75% 75% 75% 75% / 20%;
}
.figure-img {
    width: 100%;    
}

.project h5 {
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.item-1 img {
    padding: 25px;
    width: 100%;
    height: 100vh;
}

/* Contact Me Section Style Starts*/
.contact {
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 75% 75% 75% 75% / 20%;
}

.contact-info h3 {
    font-size: 40px;
    text-align: center;
    padding: 15px 0;
    font-family: 'Dancing Script', cursive;
}

.contact-info p {
    font-size: 24px;
    padding: 25px 0;
}

.social {
    display:flex;
    justify-content: center;
    background: var(--main-color);
    border-radius: 75% 75% 75% 75% / 20%;
}

.social-links a {
    text-decoration: none;
    color: var(--third-color);
}

.social-links i:hover {
    color: black;
    font-size: 2.5rem;   
}

.social-links i  {
    font-size: 4rem;
    padding: 25px;
    text-decoration: none;
    text-align: center;
}
/* Back to top icon*/
.top {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 75% 75% 75% 75% / 20%;
}

.back-to-top {
    text-align: center;
}
.back-to-top i {
    font-size: 4rem;
    color: var(--third-color);
}

.back-to-top i:hover {
    color: black;
}

/* Footer Section Style Starts*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Dancing Script', cursive;
}

footer p {
    align-content: flex-end;
}


/* Media Querries*/

/* Media Querries 980px*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }

      .about-me .about-me-content {
          width: 100%;
      }
      .about-me-content {
          text-align: center;
      }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .item-1 {
        grid-column: 1/11;
        grid-row: 1/2;
    }
    
    .item-2 {
        grid-column: 1/11;
        grid-row: 2/4;
        padding-left: 10px;
    }
    
    .item-3 {
        grid-column: 5/6;
        grid-row: 4;
    }
    
    
    .item-5 {
        grid-column: 1/11;
        grid-row: 5;
    }
    
    .item-6 {
        grid-column: 1/11;
        grid-row: 5/8;
    }
    
    .item-7 {
        grid-column: 5/6;
        grid-row: 7;
    }
    
    
    .item-9 {
        grid-column: 1/11;
        grid-row: 8;
    }
    
    .item-10 {
        grid-column: 1/11;
        grid-row: 8/11;
    }
    
    .item-11 {
        grid-column: 5/6;
        grid-row: 10;
    }


}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-content {
        width:95%;
    }
    .contact-info {
        width: 95%;
    }
    .about-me img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
  }
